.formulaire {
    margin-top: 100px;
    text-align: center;
}

.MsgAcc {
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
}

.form-med {
    margin-top: 75px;
    margin-bottom: 25px;
}

.tableau tr button {
    text-align: center;
}
